<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- EJS语法，是一款 js 的模板引擎 -->
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="shortcut icon" href="./public/favicon.ico" type="image/x-icon">
</head>
<body>
  <h1 onclick="fn()">hello world</h1>
  <p class="web-font">验证字体效果33233</p>
  <a href="index.html">首页</a>
  <a href="about.html">关于</a>
  <button onclick="handleRequest()">请求</button>
  <!-- <img src="./images/service-icon.png" alt=""> -->
  <img src="<%= require('./images/service-icon.png') %>" alt="">
  <button id="btn">什么是webpack</button>
  <script>
    function handleRequest() {
      console.log(1111111111)
      let xml = new XMLHttpRequest();
      xml.open('get', '/api/users');
      xml.send();
    }
  </script>
</body>
</html>